<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Fasten-Assistent</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div id="header">
            <img src="{{url_for('static', filename='italian-cuisine.jpg')}}" alt="Header-Foto" width= 100%>
            <div id="header1">
                <p>Hallo {{ name }}</p>
            </div>
            <div id="header2">
                <p>Willkommen zu deinem persönlichen Fasten-Assistenten!</p>
            </div>
        </div>
<div id="menu">
    <ul>
        <li><a id="nav" href="kalorienbilanz.html">Kalorienbilanz</a></li>
        <li><a id="nav" href="rezepte.html">Rezept Übersicht</a></li>
        <li><a id="nav" href="neues_rezept.html">neues Rezept</a></li>
    </ul>
    <br>
</div>
<div id="content">
    <p class="1">
        <h1>Füge ein Mahlzeit zu deinem Fastentag hinzu</h1>
        Für wen möchtest du ein Rezept hinzufügen? <br> Und welches Rezept möchtest du zu deinem Fastentag hinzufügen? <br><br>
        <form method="POST">
            <input type="text" name="username" placeholder="Benutzername"><br>
            <input type="text" name="rezept_titel" placeholder="Rezepttitel"><br>
            <button type="submit">Senden</button>
        </form>
        <p>{{ bestätigung_mahlzeit }}</p>
        <h1>Deine persönliche Kalorienbilanz</h1>
        {{ kcal_verbraucht_str }}<br>
        {{ kcal_verfuegbar_str }}<br>
        {{ kcal_ueberschritten }}<br><br>    
    <p/>
</div>
