<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Intermittend Fasting</title>
        <link rel="stylesheet" href="../static/main.css" type ="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <a href="{{ url_for('test')}}">Test</a>
        <div id="header">
            <img src="../italian-cuisine.jpg" alt="Header-Foto" width= 100%>
            <h1>Hallo {{ name }}!</h1>
            <h2>Willkommen zu deinem persönlichen Fasten-Assistenten!</h2>
        </div>
<div id="menu">
    <ul>
        <li><a id="nav" href="kalorienbilanz.html">Kalorienbilanz</a></li>
        <li><a id="nav" href="mahlzeit_hinzufuegen.html">Mahlzeit hinterlegen</a></li>
        <li><a id="nav" href="neues_rezept.html">neues Rezept</a></li>
    </ul>
    <br>
</div>
<div id="content">
    <p class="1">
        <h3>Füge ein Mahlzeit zu deinem Fastentag hinzu</h3>
        Rezeptliste
   
    <p/>
</div>

<div id="footer">
    <p class="2">
        <a href="mailto:stephanie.krouthen@gmail.com">send me an E-Mail</a>
    </p>    
</div>
    </body>
</html>