<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Fasten-Assistent</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div id="header">
            <img src="{{url_for('static', filename='italian-cuisine.jpg')}}" alt="Header-Foto" width= 100%>
            <div id="header1">
                <p>Hallo {{ name }}</p>
            </div>
            <div id="header2">
                <p>Willkommen zu deinem persönlichen Fasten-Assistenten!</p>
            </div>
        </div>
<div id="menu">
    <ul>
        <li><a id="nav" href="kalorienbilanz.html">Kalorienbilanz</a></li>
        <li><a id="nav" href="rezepte.html">Rezept Übersicht</a></li>
        <li><a id="nav" href="neues_rezept.html">neues Rezept</a></li>
    </ul>
    <br>
</div>
<div id="content">
    <p class="1">
        <h1>Füge ein neues Rezept zur Datenbank hinzu</h1>
        Bei der Titelvergabe solltest du dich nur auf ein Wort beschränken.</br></br>
        {{ bestätigung_rezept }}
        {{ fehler_meldung }}</br></br>
        <form method="POST">
            <textarea style="width: 500px;" type="text" name="titel" placeholder="Rezepttitel"></textarea></br>
            <textarea style="width: 500px; height: 50px" rows= "5" type="text" name="zutaten" placeholder="Zutaten"></textarea></br>
            <textarea style="width: 500px;" rows= "12" type="text" name="zubereitung" placeholder="Zubereitung"></textarea></br>
            <input style="width: 500px;" type="number" max="500" name="kcal" placeholder="Anzahl Kalorien"></br>
            <button style="width: 100px;"type="submit">Senden</button>
        </form>
   
    <p/>
</div>
